<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com/jarvis/springcloud/dao/PaymentDao.java">
    <insert id="create" parameterType="payment" useGeneratedKeys="true" keyProperty="id">
        insert into cloud_payment (amount) values (#{amout})
    </insert>


    <resultMap id="BaseResultMap" type="com/jarvis/springcloud/entity/Payment.java">
        <id column="id" property="id" jdbcType="BIGINT">id</id>
        <id column="amount" property="amount" jdbcType="VARCHAR">amout</id>
    </resultMap>


    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        select * from cloud_payment where id = #{id}
    </select>
</mapper>
